<div class="backGround container">
    <div class="row">
        <button mat-raised-button color="primary" class="col mx-1" (click)="addField('text')">Text Field</button>
        <button mat-raised-button color="primary" class="col mx-1" (click)="addField('textarea')"> Textarea</button>
        <button mat-raised-button color="primary" class="col mx-1" (click)="addField('checkbox')"> Checkbox</button>
        <button mat-raised-button color="primary" class="col mx-1" (click)="addField('radio')"> Radio</button>
        <button mat-raised-button color="primary" class="col mx-1" (click)="addField('option')">select option's</button>

    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div formArrayName="fields">
            <div class="my-1" *ngFor="let field of fields.controls; let i = index" [formGroupName]="i">

                <mat-form-field *ngIf="field.value.type === 'text' || field.value.type === 'textarea'">
                    <label for="">{{field.value.label}}</label>
                    <input matInput *ngIf="field.value.type === 'text'" formControlName="value"
                        [placeholder]="field.value.label" />

                    <textarea matInput *ngIf="field.value.type === 'textarea'" formControlName="value"></textarea>
                </mat-form-field>

                <span *ngIf="field.get('value')?.hasError('required')">This field is required</span>
                <span *ngIf="field.get('value')?.hasError('minlength')">min length is {{
                    field.get('value')?.errors?.['minlength']?.requiredLength }} </span>
                <span *ngIf="field.get('value')?.hasError('maxlength')"> Max length is {{
                    field.get('value')?.errors?.['maxlength']?.requiredLength }}
                </span>

                <label *ngIf="field.value.type === 'checkbox'">
                    <input type="checkbox" formControlName="value" value="false" /> {{ field.value.label }}
                </label>

                <label *ngIf="field.value.type === 'radio'">
                    <input type="radio" formControlName="value" /> {{ field.value.label }}
                </label>

                <ng-container *ngIf="field.value.type==='option'">
                    <div> {{options.opt1}}
                    </div>
                    <mat-form-field>
                        <!-- select any one option of following  -->
                        <label>{{field.value.label}}</label>
                        <mat-select style="background-color: rgb(122, 118, 118);" formControlName="value">
                            <mat-option [value]="options.opt1">
                                {{options.opt1}}
                            </mat-option>
                            <mat-option [value]="options.opt2">
                                {{options.opt2}}
                            </mat-option>
                            <mat-option [value]="options.opt3">
                                {{options.opt3}}
                            </mat-option>
                            <mat-option [value]="options.opt4">
                                {{options.opt4}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <div class="actions">
                    <button type="button" mat-raised-button color="warn" (click)="removeField(i)">Remove</button>
                </div>
            </div>
        </div>

        <div class="actions my-3">
            <button mat-raised-button color="primary" [ngClass]="form.valid?'not':'invalid'"
                type="submit">Submit</button>
        </div>
    </form>
</div>